<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Morgante Pell" %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <link rel="openid.server" href="https://indieauth.com/openid" />
    <link rel="openid.delegate" href="http://morgante.net" />

    <link href="https://twitter.com/morgantepell" rel="me">
    <link href="https://github.com/morgante" rel="me">

    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :bragger %>
    <%= stylesheet_link_tag :lifemap %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-10543214-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-10543214-1');
    </script>


    <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
    <%= javascript_include_tag :bootstrap %>
    <%= javascript_include_tag :bragger %>
    <%= javascript_include_tag :d3 %>
    <%= javascript_include_tag :'jquery.smooth-scroll' %>
    <%= javascript_include_tag :'jquery.subwaymap' %>
    <%= javascript_include_tag :'jquery.vectormap' %>
    <%= javascript_include_tag :'world_map' %>
    <%= javascript_include_tag :jscrollpane %>
    <%= javascript_include_tag :main %>
    <%= javascript_include_tag :paper %>
    <%= javascript_include_tag :skillspin %>
    <%= javascript_include_tag :lifemap %>
    <%= javascript_include_tag :underscore %>
    <%= javascript_include_tag :'waypoints.jquery' %>
  </head>

  <body class="<%= page_classes %> <% if current_page.data.warning? %>warned<% end %>">

    <div id="grid_overlay">
      <div class="grid">&nbsp;</div>
    </div>

    <div id="header" class="header">
      
      <div class="page_section">
        
        <div class="section greeting">
          <%= current_page.data.greeting || "<h1>Hello.</h1><p>My name is Morgante Pell.</p>" %>
        </div>
      
        <div class="logo">
          <a href="/" title="My logo">Morgante Pell</a>
        </div>
        
        <% if current_page.data.definition? %>
        <div class="section definition">
          <%= current_page.data.definition %>
        </div>
        <% end %>
        
        <span class="clear"></span>
        
      </div>
      
    </div>

    <div id="page">

      <% if current_page.data.warning? %>
    <div class="alert alert-warning overlay-warning" role="alert">
      <p><%= current_page.data.warning %></p>
    </div>
    <% end %>

      <div class="page_section">

        <div id="content" class="section">

          <%= yield %>

          <span class="clear"></span>

        </div>

        <div id="sidebar" class="aside">
        </div>

        <span class="clear"></span>

      </div>

    </div>

    <div id="footer" class="footer">
      <div class="page_section">
        <p class="copyright">&copy; <%= Time.now.year %> Morgante Pell</p>
        <p class="engine"><a href="https://middlemanapp.com/">Powered by Middleman</a></p>
      </div>
    </div>

  </body>
</html>
